.wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.sidebar {
    // flex: 1;
}
.container {
    flex: 1;
    min-height: 100%;
    background-color: #F8F7FA;
    height:100vh; 
    display: table;
    .header {
        .no_position {
            position: relative;
        }
    }
    .content {
        margin:0 var(--default-layout-horizontal-spacer);
    }
}