.wrapper {
    max-width: 235px;
    height: 264px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 9px 16px;
    cursor: pointer;
    &:hover {
        border: 1px solid #efefef;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
        .option {
            display: block;
            color: #333;
        }
    }
    background-color: white;
}
.avatar {
    width: 100px;
    height: 100px;
    margin: 42px 64px;
    object-fit: cover;
    border-radius: 50%;
}
.info {
    // flex: 1;
    // margin-left: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 4px;
    
    width: 103px;
    height: 56px;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 1;
    flex-grow: 0;
}
.name {
    font-size: 1.6rem;
    font-weight: 500;
}
.status_on {
    color: #43CE81;
}
.status_off {
}
// in BTS Line
.border {
    box-shadow: (10px 10px 20px rgba(0, 0, 0, 0.05));
    border-radius: 8px;
    margin-top: 16px;

    .name {
        font-weight: 600;
    }
}
