.wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.sidebar {
    // flex: 1;
}
.container {
    flex: 1;
    .header {
        .no_position {
            position: relative;
        }
    }
    .content {
        padding:0 var(--default-layout-horizontal-spacer);
    }
}
