.wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.sidebar {
    // flex: 1;
}
.container {
    flex: 1;
    min-height: 100%;
    background-color: #F8F7FA;
    height:100vh; 
    display: table;
    .header {
        .no_position {
            position: relative;
        }
    }
    .content {
        margin:0 var(--default-layout-horizontal-spacer);
    }
}

.body-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;

    
}
.no_data{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    .img_no_data {
       margin: 3.2rem;
    }
}
.search-filter-title {
    margin-top: 16px;
    margin-left: 16px;
    font-weight: 700;
}
.search-filter {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.select-area {
    flex: 2;
    display: flex;
    align-items: center;
    .select-unit,
    .select-group {
        border-radius: 6px;
        border: 1.5px solid #ccc;
        height: 40px;
        width: 30%;
        margin: 16px 16px 16px 0;
        padding-left: 1rem;
    }
    .select-group {
        margin-left: 3.2rem;
    }
}

.btn-export {
}

.main-content {
    margin: 8px 0;
    display: flex;

    .group {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 0px;
        gap: 4px;
    }
    .device-info {
        // border: 1px solid #ccc;
        box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.05);
        border-radius: 7px;
        background-color: white;
        .properties {
            display: flex;
            justify-content: space-between;
            padding: 8px 16px;
        }
        // battery info
        .battery-info {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-bottom: 1.6rem;
        }
    }
    .timeline {
        padding: 8px 16px;
        margin-top: 16px;
        background-color: var(--white);
        border-radius: 5px;
        max-height: 58rem;
        overflow-y: scroll;
        .timeline-item {
            margin: 5px 0;
            display: flex;
            justify-content: space-between;
            .status-item {
                display: flex;
                .status-dot {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin-right: 2.4rem;
                    .bullet {
                        width: 1.2rem;
                        height: 1.2rem;
                        border-radius: 50%;
                        margin-top: 5px;
                    }
                    .bullet-on {
                        background-color: #28c76f;
                        box-shadow: 0px 0px 10px 5px rgb(40, 199, 111, 0.4);
                    }
                    .bullet-off {
                        background-color: #ffd500;
                        box-shadow: 0px 0px 10px 5px rgb(255, 213, 0, 0.4);
                    }
                    .bullet-disconnected {
                        background-color: #ea5455;
                        box-shadow: 0px 0px 10px 5px rgb(234, 84, 85, 0.4);
                    }
                    .bullet-connected {
                        background-color: var(--primary);
                        box-shadow: 0px 0px 10px 5px rgb(115, 103, 240, 0.4);
                    }
                    .strokes {
                        border-left: 3px solid #c01111;
                        height: 23px;
                    }
                }
                .text {
                    display: flex;
                    flex-direction: column;
                }
            }

            .date-time {
                display: flex;
                justify-content: space-between;
                .date{
                    margin-right: 8px;
                }
            }
        }
        
    }
    .title-status {
        font-size: 16px;
        font-weight: 500;
        color: rgb(121, 123, 123);
    }
    .status {
        font-weight: 600;
        color: #000000;
    }
    .see-more{
        float: right;
        margin-top: 1.6rem;
        font-weight: 600;
        color: var(--primary);
        cursor: pointer;
    }
}
.page {
    position: absolute;
    bottom: 0;
    margin: 8px;
    width: calc(100% - 48px);
    display: flex;
    justify-content: space-between;
    p {
        font-weight: 300;
        color: #a29f9f;
    }
    .paging {
    }
}
