.modal-header {
    border-bottom: none;
}
.modal-title {
    font-size: 18;
    margin: 0 auto;
    font-weight: 700;
}
.modal-body {
    font-size: 15;
    margin: 0 5%;
    .mac {
        width: 45%;
    }
    .list-device {
        margin: 8px;
        .add-device{
            display: flex;
            justify-content: space-between;
            // &:hover {
            //     background-color: rgba(200, 202, 209, 0.05);
            //     box-shadow: 1px 1px 1px 1px rgb(241, 230, 230);
            //     .option {
            //         display: block;
            //         color: #333;
            //     }
            // }
            .device-card {
                pointer-events: none
            }
            .input-radio{
                cursor: pointer;
            }
        }
    }
}

