.wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.sidebar {
    // flex: 1;
}
.container {
    flex: 1;
    min-height: 100%;
    background-color: #F8F7FA;
    height:100vh; 
    display: table;
    .header {
        .no_position {
            position: relative;
        }
    }
    .content {
        margin:0 var(--default-layout-horizontal-spacer);
    }
}
.body-wrapper {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    // align-items: center;
}
.search-filter-title {
    margin-top: 16px;
    margin-left: 16px;
    font-weight: 700;
}
.search-filter {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
}
.select-area {
    flex: 2;
    display: flex;
    align-items: center;
    .select-unit,
    .select-group {
        border-radius: 6px;
        border: 1.5px solid #ccc;
        height: 40px;
        width: 25%;
        margin: 16px 0;
        padding-left: 1rem;
        // text-align: center;
    }
}

.btn-add-bts {
}

.main-content {
    margin: 8px;
}
.page {
    position: absolute;
    bottom: 0;
    margin: 8px;
    width: calc(100% - 48px);
    display: flex;
    justify-content: space-between;
    p {
        font-weight: 300;
        color: #a29f9f;
    }
    .paging {
    }
}
