.wrapper {
    padding: 20px 8px 0px 8px;
    width: 250px;
    // background-color: antiquewhite;
    background-color: white;
    height: 100%;
    .menu-group {
      display: flex;
      flex-direction: column;
      padding: 0px;
      gap: 10px;
    }
    .header {
      padding-left: 8px;
      padding-bottom: 8px;
      margin-bottom: 12px;
      border-bottom: 1px solid #ccc;
      h2{
        font-weight: 700;
        color:#7367F0;
      }
      .btsname{
        font-weight: 400;
        font-size: 1.4rem;
      }
    }
    .topic{
      display: flex;
      padding-left: 8px;
      padding-bottom: 8px;
      width: 100%;
      font-size: 1.6rem;
      color: #A7A4B0;
    }
}
